<%= form_tag users_path do %>
  <fieldset>
    <legend>Sign up</legend>
    <p>
      <%= label_tag :email %>
      <%= text_field_tag "user[email]", nil, placeholder: "Email", required: true %>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag "user[password]", nil, placeholder: "Password", required: true %>
    </p>
    <p>
      <%= label_tag :role %>
      <%= select_tag "user[role]", options_for_select([ "Manager", "Developer" ]), required: true %>
    </p>
    <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
  </fieldset>
<% end %>